
body {
    background-image: url('./jay-rembert-N-ztJKngIX4-unsplash.jpg');
    color: aliceblue;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.header-container {
    display: flex;
    position: fixed;
    background-color:dimgray;
    width: 100%;
    margin: 0;
    height: 4rem;
    align-items: center;
    opacity: 0.9;
    box-shadow: 3px 3px 18px black;
    border-bottom: solid 3px rgba(0, 0, 0, 0.69);;
}

nav a {
    font-size: 1.69rem;
    margin: 1rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
}

nav a:hover {
    color: black;
    text-shadow: 3px 3px 9px black;
}



/*banner*/ 

.banner-container {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner-container h1 {
    font-family: "paroli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9rem;
    text-shadow: 3px 3px 27px aliceblue;
    text-align: center;
    margin: 36px 36px;
}

.sub-banner-container {
    display: flex;
    justify-content: center;
}

.sub-banner {
    background-image: url("./honey-yanibel-minaya-cruz-w95BkIgqkqY-unsplash.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    width: 75%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 3px rgba(0, 0, 0, 0.69);
    border-radius: 69px;
    box-shadow: 3px 3px 18px aliceblue;
    font-size: 1.69rem;
}

/*body*/

.body-container {
    width: 100%;
    height: auto;
}

.body-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% auto;
    box-shadow: 3px 3px 18px black;
}

.body-header h2, .body-header p,
.quote-container h2, .quote-container p,
.hours h2, .hours p {
    margin: 1% 5%;
}

.img-container-l, .img-container-p {
    display: flex;
    justify-content: space-between;
}

.img-container-l .img-wrapper,
.img-container-p .img-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.img-container-l img,
.img-container-p img {
    width: 90%;
    height: auto;
    box-shadow: 3px 3px 18px black;
}

.quote-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% auto;
    box-shadow: 3px 3px 18px black;
}

.hours {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% auto;
    box-shadow: 3px 3px 18px black;

}

@media only screen and (max-width: 900px) {
    .sub-banner {
        flex-direction: column;
        width: 45%;
    }

    .img-container-l {
        flex-direction: column;
    }

    .img-container-l img {
        margin: 5% auto;
    }
}

@media only screen and (max-width: 650px) {
    .header-container {
        justify-content: center;
    }

    nav a {
        margin: 1rem 1rem;
    }

    .banner-container h1 {
        font-size: 6rem;
    }

    .sub-banner {
        font-size: 1.23rem;
    }

    .img-container-p {
        flex-direction: column;
    }

    .img-container-p img {
        margin: 5% auto;
    }
}

@media only screen and (max-width: 460px) {
    nav a {
        font-size: 1.23rem;
        margin: 1rem 0.69rem;
    }
}
